.aegis-pc-bg {
  background:url(https://i.ibb.co/yBqR4rS/fenrir.png);
border:solid 1px #eee;
  width:650px;
  height:450px;
}
    
.aegis-pc-internal {
  display: grid; 
  grid-template-columns: 0.8fr 1.2fr; 
  grid-template-rows: 1fr; 
  gap: 0px 0px; 
  grid-template-areas: 
    "area-one area-two"; 
}
.area-one { grid-area: area-one; }
.area-two { grid-area: area-two; }

.aegis-numberbox {
  background:#f9f9f9;
box-shadow:0px 0px 10px 0px rgb(97 97 97 / 44%);
  border-radius:10px;
  padding:15px;
  font-family:monospace;
  font-size:12px;
  text-align:Center;
  margin-top:10px;
  width:200px;
  margin-left:20px;

}
.aegis-adjust-one {
  margin-top:90px;
}

.aegis-adjust-two {
  margin-top:80px;
  margin-left:10px;
}

.aegis-to-from {
  display: grid; 
  grid-template-columns: 0.1fr 1fr; 
  grid-template-rows: 2fr; 
  gap: 0px 0px; 
  grid-template-areas: 
    "to-from fieldline"; 
}


.aegis-email-content {
  background:rgb(233 233 233 / 58%);
  box-shadow:0px 0px 5px 0px rgb(97 97 97 / 44%);
  padding:20px;
  width:320px;
  border-radius:10px;

  min-height:310px;
}

.aegis-subject {
  font-size:20px;
  margin-bottom:5px;
  padding-bottom:10px;
  border-bottom:solid 2px #b9b9b9;
}

.aegis-to {
  padding: 2px 2px;
  margin-top:4px;
  font-family:monospace;
 
}

.aegis-field {
  background:rgb(202 202 202 / 59%);
  margin-top:5px;
  padding: 2px 6px;
  font-size:12px;
  border-radius:5px;
  font-family:monospace;
}

.aegis-actualcontext {
  font-size:12px;
  margin-top:10px;
height:200px;

      overflow:auto;
  font-family:arial;
}

.aegis-liner {
  background:#b9b9b9;
  height:2px;
  margin-top:10px;
  border-radius:50px;
}

.imperium-comms {
  font-size:70px;
  font-weight:600;
  position:absolute;
  color:#f3f2f2;
  font-family:arial;
text-shadow: 2px 2px 4px rgb(0 0 0 / 30%);
}

ul.tabs{
margin: 0px;
padding: 0px;
list-style: none;
}

ul.tabs li{
display:block;
cursor: pointer;
		}
		
.tab-content.current{
display: inherit;
		}
.tab-content{
display: none;
  list-style: none;
}



